@import "../node_modules/bootstrap/scss/bootstrap";

body {
  padding: 10px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}


.header {
  flex: 0 0 auto;
}

.main-content {
  flex: 1 0 auto;
}

.patientDiv > div {
  display: flex;
  width: 100%;
  justify-content: space-around;
}


.patientDiv > div > p {
  display: flex;
  width: 16%;
  justify-content: start;
}